{{ define "main" }}

{{ partial "page-header.html" . }}

<section class="section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
        <script>
        hbspt.forms.create({
        portalId: "8737592",
        formId: "812e05f9-9dab-4b58-9d93-87b6d467ed06"
        });
        </script>
      </div>
      
      <div class="col-lg-5 content">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

<!-- call to action -->

<!-- /call to action -->

{{ end }}